@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <img src="~/Images/FIFA.png" height="180" width="250" />
            <hgroup class="title">
                <h2>Interfaz Web Para Administracion de Bases de Datos</h2>
                @Html.Partial("_LoginPartial")
            </hgroup>
        </div>
    </section>
}
<h3>Aministracion de Competiciones de Futbol</h3>
<ol class="round">
    <li class="one">
        <h5>Ingresa con tu Usuario DBA</h5>
        Solo Usuarios Autorizados
    </li>

    <li class="two">
        <h5>Despliegate por las opciones para Manipular Datos</h5>
        Navega por las opciones de los Menus
    </li>

    <li class="three">
        <h5>Visualiza Reportes</h5>
        Revisa los Resultados de los partidos...
    </li>
</ol>